<html>
    <head>
        <title>testing</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/node_modules/bootstrap/dist/css/bootstrap.min.css')}}">
        {% block head %}
        {% endblock %}
    </head>

    <body>
        {% include 'navbar.html' %}
        {% block body %}

        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/node_modules/bootstrap/dist/js/bootstrap.min.js')}}"> </script>
        <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/node_modules/bootstrap/js/dist/popover.js')}}"> </script>

        {% block footer %}
        {% endblock %}
    </body>
</html>
